body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1.2rem;
  padding: 1rem;
}

.container ul {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container ul:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.grey {
  background-color: #eee;
  font-size: 20px;
}

.container ul > li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.btn {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, auto);
  }
}
